html {
    overflow: scroll;
}

@font-face {
    font-family: NotoSerifSC-Regular;
    src: url('../statics/font/NotoSerifSC-Regular.ttf')
}

@font-face {
    font-family: NotoSerifSC-Light;
    src: url('../statics/font/NotoSerifSC-Light.ttf')
}

@font-face {
    font-family: Spartan-Regular;
    src: url('../statics/font/Spartan-Regular.ttf')
}

@font-face {
    font-family: Spartan-Light;
    src: url('../statics/font/Spartan-Light.ttf')
}

.title {
    position: absolute;
    width: auto;
    height: 50px;
    margin-top: -25px;
    margin-left: -50px;
    color: #ffffff;
    font-family: 'Spartan-Regular';
}

.paragraph {
    position: absolute;
    width: auto;
    height: 50px;
    margin-left: -50px;
    color: #ffffff;
    font-family: 'NotoSerifSC-Light';
}

