h1 {
    position: absolute;
    width: auto;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -50px;
    color: #ffffff;
    font-family: 'Oxygen';
    font-size: 50px;
    
}

span {
    position: absolute;
    width: auto;
    height: 50px;
    top: 56%;
    left: 50%;
    margin-left: -50px;
    color: #ffffff;
    font-family: 'Oxygen';
}

h1,
span {
    text-shadow: 0 0 10px #FFFFFF, 0 0 50px #FFFFFF, 0 0 100px #FFFFFF;
}
