html {
    overflow: scroll;
}

@font-face {
	font-family: Tommy-Light;
	src: url('../statics/font/Tommy-Light.ttf')
}

@font-face {
	font-family: Tommy-Thin;
	src: url('../statics/font/Tommy-Thin.ttf')
}

.title {
    position: absolute;
    width: auto;
    height: 50px;
    margin-top: -25px;
    margin-left: -50px;
    color: #ffffff;
    font-family: 'Tommy-Light';
}

.paragraph {
    position: absolute;
    width: auto;
    height: 50px;
    margin-left: -50px;
    color: #ffffff;
    font-family: 'Tommy-Thin';
}

